@import './../../../master';

.content {
  white-space: pre-line;
}

.review {
  padding: 10px;
  margin: 20px 10px;
  @include box-shadow(-2px, 3px, 6px, null, rgba(0,0,0, 0.16));
  border: 1px solid black;
  background-color: white;
  color: #575757;
  b {
    color: #C92A32;
  }
  p {
    font-weight: 100;
    font-size: 12px;
    line-height: 20px;
  }
  position: relative;
  &:hover {
    border: 1px solid black;
  }
}

.recommendation {
  top: -15px;
  @include border-radius(50%);
  border: 1px solid rgba(112, 112, 112, 0.1411764705882353);
  height: 42px;
  width: 42px;
  background-color: white;
  img {
    height: 30px;
    width: 30px;
  }
}

.playing-time, .recommendation {
  position: absolute;
}

.item-category {
  left: -10px;
}
.recommendation {
  right: -10px;
}

.playing-time {
  height: 17px;
  img {
    height: 15px;
    width: 15px;
    margin-right: 4px;
  }
  @include border-radius(50px, 0, 0, 50px);
  border: 1px solid rgba(112, 112, 112, 0.1411764705882353);
  top: -12px;
  right: 23px;
  background-color: white;
  padding: 3px 14px 3px 5px;
}
