@import './../../../master';
.bar, .background-bar {
  @include border-radius(10px);
  height: 20px;
}

.background-bar {
  background: transparent;
  border: 1px solid rgba( 128, 128, 128, 0.19);
  bottom: -1px;
  width: 100%;
}
.left {
  margin-right: 10px;
}

.graph {
  margin-bottom: 10px;
}


.green {
  background-color: #49B112;
}

.yellow {
  background-color: #E8E831;
}

.red {
  background-color: $primary-red;
}
