@font-face {
  font-family: 'Oxygen';
  font-weight: 700;
  font-style: normal;
  src: url(/assets/fonts/Oxygen-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Oxygen';
  font-weight: 300;
  font-style: normal;
  src: url(/assets/fonts/Oxygen-Light.ttf) format('opentype');
}

@font-face {
  font-family: 'Oxygen';
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/Oxygen-Regular.ttf) format('opentype');
}
